@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i|Zilla+Slab:300,300i,400,400i,500,500i,600,600i,700,700i');

body {font-family: 'Noto Sans', sans-serif;color:#888888;}
h1,h2,h3,h4,h5,h6 {font-family: 'Zilla Slab', serif;}

.slide-bg-1 {background-image:url(../img/slide-bg.jpg);}

.logo {
    font-size: 20px;
    font-weight: 700;
    margin-top: 13px;
}

.header-area a, .search-icon {}

ul {}

.mainmenu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mainmenu li {
    display: inline-block;
    position: relative;
}

.mainmenu li a {
    display: block;
    padding: 14px;
}

.mainmenu li a {
    display: block;
    padding: 16px;
}

.header-area {
    font-size: 16px;
    font-family: 'Zilla Slab', serif;
    font-weight: 700;
}

.single-slide-item {
    position: relative;
    z-index: 1;
    background-size: cover;
    background-color: #333;
    background-position: center;
}

.single-slide-item:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: #000;
    z-index: -1;
    opacity: .66;
}

.slide-text, .slide-text a {
    color: #FFF;
}

.slide-text h2 {
    font-size: 60px;
	color:#FFF;
}

.slide-text h2 span {
    font-weight: 300;
    font-style: italic;
}

.video-btn {
    display: block;
    position: relative;
    margin: 30px 0;
}

.play-icon {
    background: #22bbc0;
    position: absolute;
    line-height: 55px;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    margin-left: -30px;
    margin-top: -30px;
    height: 60px;
    width: 60px;
}

.boxed-btn {
    background-color: #22bbc0;
    font-family: 'Zilla Slab', serif;
    font-weight: 700;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 50px;
}

.slide-text {
    font-size: 16px;
    padding: 160px 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 15px;
}

.header-area.header-absolute {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9;
}

.header-area.header-absolute a ,.header-absolute .search-icon{
    color: #FFF;
}
.search-icon {
    margin-top: 15px;
    display: inline-block;
}

.owl-carousel .owl-item img {
    width: auto;
    display: inline-block;
}

.homepage-slides .owl-nav div {
    position: absolute;
    left: 8%;
    color: #fff;
    top: 50%;
    line-height: 40px;
    margin-top: -20px;
    font-size: 20px;
}

.homepage-slides .owl-nav div.owl-next {
    left: auto;
    right: 8%;
}

.section-padding {
    padding: 100px 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #000;
    font-weight: 700;
    line-height: 1.3;
}

p {}

body {
    line-height: 1.9;
}

.single-promo-box {
    margin-top: 30px;
    text-align: center;
}

.promo-icon {
    color: #22BBC0;
    font-size: 25px;
    margin-bottom: 10px;
}

.single-promo-box h4 {
    font-size: 20px;
    margin-bottom: 20px;
}

.space-90 {
    height: 90px;
}

.tile-gallery {
    position: relative;
    height: 685px;
    margin-left: 30px;
}

.tile-gallery img {
    border-radius: 5px;
    box-shadow: 3px 4px 9px #d4d4d4;
    position: relative;
    z-index: 1;
}

.tile-gallery img:nth-child(2) {
    position: absolute;
    right: 0;
    top: 50px;
    z-index: 2;
}

.tile-gallery img:nth-child(3) {
    position: absolute;
    bottom: 0;
    left: 22px;
    z-index: 3;
}